<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form method="POST">
    {% csrf_token %}
    
    {{ form.as_p }}

    <button type="submit">Salvar</button>
    {% if transacao %}
    <a href="{% url 'url_delete' transacao.id %}">Remover</a>
    {% endif %}
</form>
    
</body>
</html>